@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800|Raleway:600,800&display=swap');

@import "tailwindcss/base";

@import "tailwindcss/components";
/* @import "components.css"; */

@import "tailwindcss/utilities";
/* @import "utilities.css"; */

@font-face {
    font-family: Ultras;
    font-weight: 400;
    src: url('/assets/fonts/ultrasliberi.ttf') format("woff");
}