<div class="bg-white py-2">
  <p class="font-body">Are you on a mobile browser?</p>
  <a href="https://metamask.app.link/dapp/craig-brentz.com/gallery" class="font-body text-blue-400 underline">Click here to load this site with MetaMask</a>
</div>
