<nav class="flex items-center justify-between flex-wrap bg-indigo-800 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <Reed-Icon class="fill-current h-10 w-10 mr-2" />
        <span class="font-display font-semibold text-xl tracking-wider">Craig Brentz</span>
    </div>
    <div class="block lg:hidden">
        <button type="button" class="flex items-center px-3 py-2 border rounded text-indigo-200 border-indigo-400 hover:text-white hover:border-white" {{on "click" this.toggleNavDrawer}}>
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
    </div>
    {{#if (or (media 'isXl') this.navDrawerOpen)}}
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="lg:flex-grow" />
        <div>
            <a href="https://www.linkedin.com/in/craig-brentz-74540957/" target="_blank" rel="noopener noreferrer" class="block mt-4 lg:inline-block lg:mt-0 text-indigo-200 hover:text-white mr-4">
                <FaIcon @icon="linkedin-in" />
                <span class="ml-2">LinkedIn</span>
            </a>
            <a href="https://twitter.com/MrInCraigible" target="_blank" rel="noopener noreferrer" class="block mt-4 lg:inline-block lg:mt-0 text-indigo-200 hover:text-white mr-4">
                <FaIcon @icon="twitter" />
                <span class="ml-2">Twitter</span>
            </a>
            <a href="https://www.instagram.com/mr.incraigibile/" target="_blank" rel="noopener noreferrer" class="block mt-4 lg:inline-block lg:mt-0 text-indigo-200 hover:text-white mr-4">
                <FaIcon @icon="instagram" />
                <span class="ml-2">Instagram</span>
            </a>
        </div>
    </div>
    {{/if}}
</nav>