<div class="flex ml-4 dark:bg-black">
  <a href="https://github.com/brentzc/" target="_blank" rel="noopener noreferrer" class="flex items-center bg-white dark:bg-transparent font-display mr-4 hover:text-indigo-700 dark:text-white dark:hover:text-red-500">
    <Svg::Github class="fill-current h-4 w-4" />
    <span class="ml-2">Github</span>
  </a>
  <a href="https://www.linkedin.com/in/craig-brentz-74540957/" target="_blank" rel="noopener noreferrer" class="flex items-center bg-white dark:bg-transparent font-display mr-4 hover:text-indigo-700 dark:text-white dark:hover:text-red-500">
    <Svg::Linkedin class="fill-current h-4 w-4" />
    <span class="ml-2">LinkedIn</span>
  </a>
  <a href="https://twitter.com/MrInCraigible" target="_blank" rel="noopener noreferrer" class="flex items-center bg-white dark:bg-transparent font-display mr-4 hover:text-indigo-700 dark:text-white dark:hover:text-red-500">
    <Svg::Twitter class="fill-current h-4 w-4" />
    <span class="ml-1">Twitter</span>
  </a>
</div>