<div class="flex ml-4">
  <a href="https://github.com/brentzc/" target="_blank" rel="noopener noreferrer" class="bg-white font-display mr-4">
    <FaIcon @icon="github" />
    <span class="ml-2">Github</span>
  </a>
  <a href="https://www.linkedin.com/in/craig-brentz-74540957/" target="_blank" rel="noopener noreferrer" class="bg-white font-display mr-4">
    <FaIcon @icon="linkedin-in" />
    <span class="ml-2">LinkedIn</span>
  </a>
  <a href="https://twitter.com/MrInCraigible" target="_blank" rel="noopener noreferrer" class="bg-white font-display mr-4">
    <FaIcon @icon="twitter" />
    <span class="ml-1">Twitter</span>
  </a>
</div>