{{!-- {{page-title this.model.title}} --}}
<div class="container mx-auto flex justify-center" {{did-insert this.model.loadContent}}>
  {{#if this.model.content}}
    <Markdown @content={{this.model.content}} />
  {{/if}}
</div>