<div ...attributes>
  <a
    href={{concat "https://etherscan.io/token/" @contract "?a=" @tokenId}}
    class="token-link"
    rel="noopener noreferrer"
    target="_blank"
  >
    View on Etherscan
  </a>
  <a
    href={{concat "https://opensea.io/assets/" @contract "/" @tokenId}}
    class="token-link"
    rel="noopener noreferrer"
    target="_blank"
  >
    View on OpenSea
  </a>
</div>