<div class="container lg:max-w-screen-lg mx-auto">
  <div class="max-w-sm w-full lg:max-w-full lg:flex p-12">
    {{!-- <img class="h-48" src="/assets/images/me.jpg" alt="Craig Brentz" />
    <div class="p-4 flex flex-col justify-between leading-normal">
      <div class="mb-8">
        <div class="text-5xl text-red-500 font-display">
          Hello!
        </div>
        <p class="text-2xl text-gray-700 text-base font-body">I'm Craig Brentz, a full-stack software developer based out of Chicago, Illinois.</p>
        <p class="text-2xl text-gray-700 text-base font-body">I pride myself on being a versatile developer who can adjust to different technologies and languages and become productive quickly.</p>
        <p class="text-2xl text-gray-700 text-base font-body">I've worked on web projects with all manner of frameworks, and my personal favorites involve
          <span class="text-red-500 font-display">Ember</span> and <span class="text-red-500 font-display">Node</span>.
        </p>
      </div>
      <div class="flex items-center">
      </div>
    </div> --}}
  </div>
</div>