<div class="container lg:max-w-screen-lg mx-auto">
  <div class="max-w-sm w-full lg:max-w-full lg:flex p-12">
    <div class="p-4 flex flex-col justify-between leading-normal">
      <div class="mb-8">
        <div class="text-5xl text-red-500 font-display font-bold mb-4 bg-white bg-opacity-75 tracking-wider">
          Hello!
        </div>
        <Rough-Notation-Group @show={{true}} as |group|>
          <p class="text-2xl text-gray-700 text-base font-body bg-white bg-opacity-75">
            I'm <Rough-Notation @group={{group}} @type="underline" @color="#6365f2" @text="Craig Brentz," class="text-indigo-500" />a full-stack software developer from Chicago, Illinois.</p>
          <p class="text-2xl text-gray-700 text-base font-body bg-white bg-opacity-75 pt-4">I've worked on web projects using many different frameworks and my personal favorites include
            <Rough-Notation @group={{group}} @type="box" @color="#EF4444" @text="Ember" class="text-red-500 font-display" />
            and
            <Rough-Notation @group={{group}} @type="box" @color="#EF4444" @text="Node." class="text-red-500 font-display" />
          </p>
        </Rough-Notation-Group>
      </div>
      <div class="flex">
        <a href="https://github.com/brentzc/" target="_blank" rel="noopener noreferrer" class="bg-white font-display mr-4">
          <FaIcon @icon="github" />
          <span class="ml-2">Github</span>
        </a>
        <a href="https://www.linkedin.com/in/craig-brentz-74540957/" target="_blank" rel="noopener noreferrer" class="bg-white font-display mr-4">
          <FaIcon @icon="linkedin-in" />
          <span class="ml-2">LinkedIn</span>
        </a>
        <a href="https://twitter.com/MrInCraigible" target="_blank" rel="noopener noreferrer" class="bg-white font-display mr-4">
          <FaIcon @icon="twitter" />
          <span class="ml-1">Twitter</span>
        </a>
      </div>
    </div>
  </div>
</div>